<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.cinema.common.persistence.dao.GuoCinemaMapper">

	<resultMap id="cinemaMap" type="com.stylefeng.guns.api.cinema.vo.Cinema">
		<result column="UUID" property="uuid"/>
		<result column="cinema_name" property="cinemaName"/>
		<result column="cinema_address" property="address"/>
		<result column="minimum_price" property="minimumPrice"/>
	</resultMap>
	<select id="getCinemaListByDetail" resultMap="cinemaMap">
		select UUID, cinema_name, cinema_address, minimum_price from mtime_cinema_t where 1=1
		<choose>
			<when test="cinemaShow.brandId!=null and cinemaShow.brandId!=99">
				and brand_id=#{cinemaShow.brandId}
			</when>
			<when test="cinemaShow.areaId!=null and cinemaShow.areaId!=99">
				and area_id=#{cinemaShow.areaId}
			</when>
		</choose>
		and hall_ids like concat('%',#{cinemaShow.hallIds},'%')
	</select>

	<resultMap id="cinemaMap1" type="com.stylefeng.guns.api.cinema.vo.Cinema">
		<result column="UUID" property="uuid"/>
		<result column="cinema_name" property="cinemaName"/>
		<result column="cinema_address" property="address"/>
		<result column="minimum_price" property="minimumPrice"/>
		<result column="hall_ids" property="hallIds"/>
	</resultMap>
	<select id="getCinemaList" resultMap="cinemaMap1">
		select UUID, cinema_name, cinema_address, minimum_price, hall_ids from mtime_cinema_t
	</select>



	<resultMap id="brandMap" type="com.stylefeng.guns.api.cinema.vo.Brand">
		<result property="brandId" column="UUID"/>
		<result property="brandName" column="show_name"/>
	</resultMap>
	<select id="getBrandList" resultMap="brandMap">
		select UUID, show_name from mtime_brand_dict_t
	</select>

	<resultMap id="areaMap" type="com.stylefeng.guns.api.cinema.vo.Area">
		<result column="UUID" property="areaId"/>
		<result column="show_name" property="areaName"/>
	</resultMap>
	<select id="getAreaList" resultMap="areaMap">
		select UUID, show_name from mtime_area_dict_t
	</select>

	<resultMap id="hallMap" type="com.stylefeng.guns.api.cinema.vo.Halltype">
		<result column="UUID" property="halltypeId"/>
		<result column="show_name" property="halltypeName"/>
	</resultMap>
	<select id="getHalltypeList" resultMap="hallMap">
		select UUID, show_name from mtime_hall_dict_t
	</select>





	<!--88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888-->
	<resultMap id="resultMap" type="com.stylefeng.guns.api.cinema.vo.Cinema">
		<result column="cinema_address" property="cinemaAddress"/>
		<result column="UUID" property="cinemaId"/>
		<result column="cinema_name" property="cinemaName"/>
		<result column="img_address" property="imgUrl"/>
        <result column="cinema_phone" property="cinemaPhone"/>
	</resultMap>
	<select id="getCinemaInfoById" resultMap="resultMap">
		select cinema_address, UUID, cinema_name, cinema_phone, img_address from mtime_cinema_t where UUID=#{cinemaId}
	</select>

	<!--7777777777777777777777777777777777777777777777777777777777777777777777777777777-->
	<resultMap id="fieldMap" type="com.stylefeng.guns.api.cinema.vo.FilmField">
		<result column="UUID" property="fieldId"/>
		<result column="film_id" property="filmId"/>
		<result column="begin_time" property="beginTime"/>
		<result column="end_time" property="endTime"/>
		<result column="hall_id" property="hallId"/>
		<result column="hall_name" property="hallName"/>
		<result column="price" property="price"/>
	</resultMap>
	<select id="getFieldByCinemaId" resultMap="fieldMap">
		select UUID, film_id, begin_time, end_time, hall_id, hall_name, price from mtime_field_t where cinema_id=#{cinemaId}
	</select>
	<!--************************************************************************************-->
	<resultMap id="filmMap" type="com.stylefeng.guns.api.cinema.vo.FilmInfo">
		<result column="actors" property="actors"/>
		<result column="film_cats" property="filmCats"/>
		<result column="film_id" property="filmId"/>
		<result column="film_name" property="filmName"/>
		<result column="film_language" property="filmType"/>
		<result column="img_address" property="imgAddress"/>
	</resultMap>
	<select id="getFilmInfoByFilmId" resultMap="filmMap">
		select actors, film_cats, film_id, film_name, film_language, img_address
		from mtime_hall_film_info_t where film_id=#{filmId}
	</select>
	<!--**************************************************************************************-->
	<resultMap id="lengthMap" type="com.stylefeng.guns.api.cinema.vo.FilmInfo">
		<result column="film_length" property="filmLength"/>
	</resultMap>
	<select id="getFilmLength" resultMap="lengthMap">
		select film_length from mtime_film_info_t where film_id=#{filmId}
	</select>
</mapper>
